.container-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("https://www.teahub.io/photos/full/41-419298_background-image-for-restaurant-website.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-position: center;
  height: 100%;
  padding: 0;
}
