<div class="card mb-4 shadow">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://res.cloudinary.com/tf-lab/image/upload/restaurant/59f6dce2-1a7b-4c1a-b960-7396aee4982c/6c9d7175-7e74-4587-adf8-58e77d36a414.jpg"  class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button id="restaurant-card-btn" routerLink="" class="mb-1"  mat-button color="accent">Visit</button>
        </div>
      </div>
    </div>
  </div>
